body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#desktop-container {
    width: 94vh;
    height: 70.5vh;
    aspect-ratio: 4 / 3;
    background-color: #57abab;
    display: flex;
    flex-direction: column;
    position: relative;
}

#desktop {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    background-color: #57abab;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#splash-gif {
    width: 94vh;
    height: 70.5vh;
    object-fit: contain;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

#desktop-background {
    position: absolute;
    opacity: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 50%;
    object-fit: contain;
    z-index: 0;
    pointer-events: none;
}

#icon-grid {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
    grid-auto-rows: 16%;
    height: 100%;
    width: 100%;
}

.desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
}

.desktop-icon .icon {
    width: 100%;
    height: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.desktop-icon .label {
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    max-width: 100%;
    white-space: normal;
}

#taskbar {
    height: 5%;
    background-color: #c3c3c3;
    display: flex;
    align-items: center;
    padding: 1px;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

#start-button {
    height: 100%;
    margin-right: 2px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#start-button-img {
    content: url('images/vixenstartbutton.png');
    height: 60%;
    margin: 9px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

#taskbar-separator {
    width: 3px;
    height: 90%;
    background: linear-gradient(to right, #808080, #ffffff);
    margin: 0 2px;
}

#open-windows {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#system-tray {
    display: flex;
    align-items: center;
    padding: 8px 5px;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

#calendar-icon, #volume-icon {
    font-size: 16px;
    margin-right: 5px;
}

#clock {
    font-size: 14px;
    font-style: bold;
    margin-left: 5px;
}

.window {
    position: absolute;
    width: 50%;
    height: 30%;
    background-color: #c3c3c3;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}

.window.active {
    z-index: 2;
}

.window.minimizing, .window.unminimizing {
    pointer-events: none;
}

.window.unminimizing {
    display: flex !important;
}

.window-controls {
    display: flex;
}

.window-header {
    background-color: #808080;
    color: #c0c0c0;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window.active .window-header {
    background-color: #000080;
    color: #ffffff;
}

.window-title {
    font-weight: bold;
}

.window-minimize, .window-close {
    cursor: pointer;
    margin-left: 5px;
}

.window-content {
    flex-grow: 1;
    padding: 10px;
}

.taskbar-item {
    display: flex;
    align-items: center;
    background-color: #c3c3c3;
    border: 1px solid #000;
    padding: 2px 5px;
    margin-right: 2px;
    font-size: 12px;
    cursor: pointer;
}

.taskbar-item.active {
    background-color: #a0a0a0;
}

.taskbar-item-icon {
    width: 16px;
    height: 16px;
    background-color: #000;
    margin-right: 5px;
}

.encryption-app {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.app-row {
    display: flex;
    justify-content: center;
}

#fileInput {
    width: 100%;
    padding: 5px;
}

.password-container {
    width: 50%;
    position: relative;
    right: 5.1%;
}

#passwordInput {
    width: calc(100% - 30px);
    padding: 5px;
}

#encryptBtn, #decryptBtn {
    width: 35%;
    margin-left: 2%;
    margin-right: 2%;
}

#statusBar {
    min-height: 20px;
    word-wrap: break-word;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.download-button {
    padding: 5px 10px;
    background-color: #008080;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.download-button:hover {
    background-color: #006666;
}

#togglePassword {
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

#togglePassword.active {
    color: #000080;
}

.file-drop-area {
    border: 2px solid #808080;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    background-color: #c0c0c0;
    padding: 10px;
    margin-bottom: 10px;
}

.file-drop-area .file-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.file-drop-area input[type="text"] {
    flex-grow: 1;
    border: 1px solid #808080;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    background-color: #ffffff;
    padding: 2px 5px;
}

.file-drop-area button {
    margin-left: 5px;
    padding: 2px 10px;
    background-color: #c0c0c0;
    border: 1px solid #ffffff;
    border-right-color: #808080;
    border-bottom-color: #808080;
}

.file-drop-area p {
    margin: 5px 0;
    font-size: 12px;
}

.file-drop-area.dragover {
    background-color: #f0f0f0;
}

.my-documents-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35%;
    padding: 20px;
}

.my-documents-icons .desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}

.my-documents-icons .icon {
    font-size: 32px;
    margin-bottom: 5px;
}

.my-documents-icons .label {
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
}

.map-window {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}

.map-window .window-content {
    height: calc(100% - 30px);  /* Adjust based on your window header height */
    padding: 0;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dialog-window {
    background-color: #c0c0c0;
    border: 2px solid #ffffff;
    border-right-color: #808080;
    border-bottom-color: #808080;
    width: 300px;
}

.dialog-header {
    background-color: #000080;
    color: #ffffff;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-content {
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

.dialog-icon {
    font-size: 32px;
    margin-right: 10px;
}

.dialog-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.dialog-buttons button {
    padding: 5px 20px;
    background-color: #c0c0c0;
    border: 1px solid #ffffff;
    border-right-color: #808080;
    border-bottom-color: #808080;
}

.hidden {
    display: none;
}

.lemon-list-window {
    position: absolute !important;
    transform: translate(-50%, -50%);
}

/* .window[data-app="Lemon List"] .window-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    background-color: transparent;
} */

#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #000;
}

.search-filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
    background-color: #333;
}

#search-bar {
    display: flex;
    flex-grow: 1;
    padding: 5px;
    margin-left: 25px;
}

#filter-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: 1;
    margin-left: 40px;
}

.filter-item {
    display: flex;
    align-items: center;
}

.filter-item label {
    cursor: pointer;
}

.filter-item label:hover {
    position: relative;
}

.filter-item label:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
    pointer-events: none;
}

#clear-filters {
    padding: 5px 10px;
    margin-right: 25px;
    white-space: nowrap;
}

.listings-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    margin-left: 7px;
    padding-top: 15px;
}

.listing-column {
    width: 46%;
    overflow-y: auto;
    padding-right: 10px;
}

.listing-column + .listing-column {
    margin-left: 6%;
}

.listing {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 0.3em;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.2;
}

.listing-emoji {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* .listing-text {
    display: inline-block;
    flex-grow: 1;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 28px);
    box-sizing: border-box;
} */

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: #333;
}

.pagination-container button {
    margin: 0 10px;
}
