.documents-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    padding: 20px;
}

.documents-icons .desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}

.documents-icons .icon {
    font-size: 32px;
    margin-bottom: 5px;
}

.documents-icons .label {
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
}